* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  background: #000;
  color: #fff;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 56px;
  position: absolute;
  z-index: 5;
  width: 100%;
}
header .logo svg {
  fill: #e50914;
  height: 37px;
}
header div + div {
  text-align: right;
}
header a.button {
  display: inline-block;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  padding: 6px 17px;
  border-radius: 3px;
}
header select {
  background: rgba(23, 23, 23, 0.2);
  color: #fff;
  padding: 6px 0px 6px 23px;
  width:100px;
}
header div.select {
  display: inline-block;
  margin-right: 10px;
}
header div.select svg {
  height: 20px;
  fill: #fff;
  color: rgb(255, 255, 255);
  position: absolute;
  margin-top: 5px;
  margin-left: 3px;
}
div.splash {
  position: relative;
  border-bottom: 7px solid rgb(37, 34, 34);
  
}
div.splash div.gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
div.splash div.background img {
  max-width: 100%;
  opacity: 0.6;
}
div.splash div.content {
  max-width: 755px;
  position: absolute;
  inset: 0;
  top:60px;
  left: 50%;
  margin-left: -360px;
  display: flex;
  align-items: center;
  text-align: center;
}
.splash .content h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 8px;
}
.splash .content h2 {
  font-size: 23px;
  font-weight: 400;
  margin: 16px;
}
.splash .content h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 16px;
}
.splash form {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-top: 20px;
  position: relative;
}
.splash input {
  padding: 15px 10px;
  font-size: 1.2rem;
  width: 100%;
  background: rgba(23, 23, 23, 0.2);
  border: 1px solid #776c6c
}
.splash input ~ span {
  position: absolute;
  top: 19px;
  left: 13px;
  color: #aaa;
}
.splash input:focus{
    padding-top: 19px;
    padding-bottom:8px;
    border:1px solid #fff;
    color:white;
}
.splash input:focus ~ span {
  top: 4px;
  font-size: 0.8rem;
  transition: all 0.15s ease;
  pointer-events: none;
}
.splash button{
  font-size:1.645rem;
  padding: 11px 26px;
  background-color: #e50914;
  margin:0 7px;
  border:0;
  color:#fff;
}
section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:50px;
  padding: 72px 52px;
  align-items: center;
  /* margin: 0 32px; */
  border-bottom: 7px solid rgb(37, 34, 34);
  height:90%;
}
section div.texts h1{
  font-size:3.125rem;
}
section div.texts p{
  font-size:1.625rem;
}
.media{
  position: relative;
}
.media .s1 img{
  width: 500px;
  height:300px;
  position: absolute;
  top:-150px;
  padding:10px;
}
.media .s1 video{
  width: 400px;
  height:200px;
  position: absolute;
  top:-85px;
  left:51px;
  z-index: -3;
}
section:nth-child(even) div.texts{
  order:2;
}
.media .s2 img{
  width:500px;
}
.s2 .download{
  width:400px;
  height: 100px;
  border:2px solid white;
}
.s2 .download img{
  width:100px;
  height: 80px;
}