.container{
    width:100%;
    height:800px;
    border:2px solid black;
}
.box{
width:300px;
height:300px;
border:2px solid black;
margin:10px;
background-color:black;
animation-name:animate;
animation-duration: 4s;
/* animation-direction:alternate; */
animation-iteration-count: infinite;
position:relative;
animation-delay: 2s;
animation-timing-function:ease-in-out;
animation-fill-mode:backwards;
 animation:animate 4s linear 2s 5 alternate;
}
/* initial way of using the animation property*/

/* @keyframes animate{
    from{
        background-color: red;
    }
    to{
        background-color: blue;
    }
} */

@keyframes animate{
    0%{
    background-color: red;
    left:0px;
    top:0px;
    }
    25%{
        background-color: yellow; 
        left:200px; 
        top:0px;
    }
    50%{
        background-color: blue;
        left:200px;
        top:200px;
    }
    75%{
        background-color:green;
        left:0px;
        top:200px;
    }
    100%{
        background-color:orange;
        left:0px;
        top:0px;
    }
}