
#parent{
   background-color:gainsboro;
   border: 5px solid; 
   /* border-color: black; */
   background-repeat: no-repeat;
   background-position: top left;
   width:60%;
   /* left: 50%; */
   /* right: 50%; */
   margin-right: auto;
}
img{
    border-radius: 150px;
    padding-top:30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#div1{
   text-align: right;
   margin-top: -100px;
   padding-right:30px;
   padding-top:10px;
   padding-left:80px;

}
#p1{
    font-size:15px;
    font-style:oblique;
    font-weight: 700;
    font-family:serif;
}
#h{
    padding-top:10px;
    margin-top:-30px;
}
#div2{
    padding-left: 30px;
    padding-right: 20px;
    /* padding-bottom: 20px; */
}
.bio{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#p2{
    text-align: right;
    /*padding-top: 30px;*/
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
