#parent{
    width:100%;
    height:450px;
    border:solid;
}
#div1{
    border:solid;
    padding-top:30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right:30px;
}
#div2{
    border:solid;
    padding:30px;
}
#div3{
    border:solid;
    padding:30px;
}