#div1{
    background-color: lawngreen;
    width: 70%;
    float: left;
}
#div2{
    background-color: brown;
    width: 30%;
    float: left;
}
h1{
    font-size: 40px;
}
@media screen and (max-width: 768px){
    #div1{
        width: 50%;

    }
    #div2{
        width: 50%;

    }

}
@media screen and (max-width: 240px){
    #div1{
        width: 100%;
        background-color: black;
        color: white;

    }
    #div2{
        width: 100%;

    }

}