*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    background-color:rgba(0,142,204,0.5);
    color:#fff;
}
.div1{
    background-image: linear-gradient(to top, rgba(23,23,23,0.4),rgba(23,23,23,0.2));
    background-color:#00ccff;
    height:300px;
    width: 500px;
    border:1px  solid #00ccff;
    position:absolute;
    left:120px;
    top:140px;
    transform:rotate3d(0,1,1,-30deg) translateY(20px) ;
    display:flex;
    justify-content: space-between;
    padding:20px;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
   
}
.div1 .logo .img1{
    width: 40px;
    height: 40px;
    border-radius:10px;
}
.div1 .img2{
    width:200px;
    height:200px;
    position: absolute;
    top:98px;
    left:20px;
    border-top-left-radius: 90px;
    border-top-right-radius: 80px;
}
.div1 ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
  
}
.div1  a{
    text-decoration:none;
    font-size:18px;
    color:#fff;
}
.div1 h1{
    position: absolute;
    top:140px;
    left:240px;
    gap:30px;
}
.div1 h2{
    position:absolute;
    top:180px;
    left:240px;
    font-weight:300;
}
.div1 .a1{
    text-decoration: underline;
    position: absolute;
    top:250px;
    left:240px;
    
}
.div2{
    height:160vh;
    width:600px;
    border:2px solid;
    transform:rotate3d(0,2,1,-40deg) translateY(20px);
    position: absolute;
    left:450px;
    top:-80px;
    background-color: #fff;
    z-index:-3;
    display: flex;
    flex-direction:column;
}
.subdiv1{
    color:black;
    position: absolute;
    left:180px;
}
.subdiv2{
    display: inline;
    color:skyblue;
    position: absolute;
    top:130px;
    left:180px;
    font-size: 10px;
    line-height: 30px;
}
.subdiv3{
    position: absolute;
    top:280px;
    left:280px;
    color: #14a6cade;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif; 
    font-size: 26px;
}
.subdiv3 .head1{
    position: absolute;
    left: -240px;
    top:130px;
    letter-spacing: 7px;
    font-weight: 600;
}
.subdiv3 .head2{
    position: absolute;
    top:190px;
    left: -200px;
    letter-spacing: 7px;
    font-weight: 600;
    color:#fff;
    -webkit-text-stroke: 2px  #14a6cade;;
}
.subdiv3 .head3{
    position: absolute;
    left: -150px;
    top:250px;
    letter-spacing: 7px;
    font-weight: 600;
    color:#fff;
    -webkit-text-stroke: 2px  #14a6cade;;
}
.subdiv3 .img3{
    width:120px;
    position: absolute;
    left:130px;
    top:180px;
}