*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    cursor: pointer;
}
.header{
    width:100%;
    height:100px;
    border:2px none;
    padding-top:30px;
    font-family: "Baloo 2", sans-serif;
}
.navbar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.navbar .logo-nav h1{
    color:white;
    font-size: 50px;
    font-weight: 500;

}
.navbar .center-nav ul li{
  display: inline;
  list-style: none;  
}
.center-nav ul li a{
    color:white;
    font-size:30px;
    padding:0 10px;
    text-decoration: none;
}
.center-nav ul li a:hover{
   color:skyblue;
}
.right-nav a{
    color:white;
    font-size:30px;
    padding: 0 20px;
    text-decoration: none;
}
.right-nav .SignUp{
  border:2px solid white;
  border-radius:10px;
  box-shadow: 2px 2px 3px white;
  
}
.middle{
  width:100%;
  height:700px;
  border:2px none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
}
.left-middle{
    border:2px none;
    width:1000px;
    height:500px;
}
.left-middle .heading h1{
    color:white;
    font-size: 65px;
    font-weight:500;
    word-spacing: 15px;
    
}
.left-middle .heading{
    margin-bottom:5px;
}
.left-middle .para{
    width:800px;
    height:100px;
    color:silver;
    border: 2px none;
    margin-bottom:65px;
}
.left-middle .para p{
    color:silver;
    font-size: 25px;
    font-weight:200;
    text-align: justify;
    padding:10px;

}
.left-middle .button{
    width:500px;
    border:2px none; 
}
.button .join{
    font-size:30px;
    color:white;
    padding:0 30px;
    border:2px solid white;
    margin: 0 19px;
    text-decoration:none;
    background-color: rgb(55, 175, 223);
    border-radius:5px;
}
.button .learn{
    font-size:30px;
    color:white;
    padding:0 20px;
    border:2px solid white;
    text-decoration:none;
    border-radius:5px;
}
.join:hover{
    background-color: red;
}
.button .learn:hover{
    background-color: blueviolet;
}